{{define "footer"}}

<footer id="footer" class="inner">
    © 2016&nbsp;-&nbsp;喵喵&GuoBug 的小站&nbsp;-&nbsp;<br>
    Powered by&nbsp;<a target="_blank" href="//thinkjs.org">ThinkJS</a>&nbsp;&amp;&nbsp;
</footer>

{{end}}
