{{define "header"}}

<header id="header" class="inner">
    <div class="profilepic">
        <a href="/"></a>
    </div>
    <h1>
        <a href="/">喵喵喵</a>
    </h1><p class="subtitle">专注服侍 秋君 </p>
    <nav id="main-nav">
        <ul>
            <li class="on">
                <a href="/"><span>首页</span></a>
            </li>
            <li>
                <a href="/post/about.html"><span>关于</span></a>
            </li>
        </ul>
    </nav>
    <nav id="sub-nav">
        <div class="social">
            <a target="_blank" class="twitter external" rel="nofollow" href="//twitter.com/qgy18" title="Twitter">Twitter</a>
            <a class="search" href="/search.html" title="站内搜索">Search</a>
        </div>
    </nav>
</header>
{{end}}
