<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>喵喵的猫爬架</title>

    <meta name="keywords" content="喵喵,Guobug,科技,技术,数据,golang,生活,养猫,铲屎">
    <meta name="description" content="这里是喵喵的猫爬架,记录猫主子的生活,和铲屎官们的零碎事物。">
    <!-- Bootstrap -->
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">
    <meta name="baidu-site-verification" content="V1UJirlhQt" />
    <meta name="google-site-verification" content="2gHcccnRmX-TnZfdQoiiU5LCln-mvvgbI2R2J2Pazg8" />

  </head>
  <body>
      <div class="containr">
<div class="left-col">
    <div class="intrude-less">
         {{template "header" .}}
    </div>
</div>
<div class="mid-col">
     {{template "posts" .}}
     {{template "footer" .}}
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>
